<div class="col-sm-8 blog-main">

  <h2><%= @blog.title %></h2>

  <p>
    <%= @blog.topic.title %>
  </p>

  <%= link_to "Edit this blog", edit_blog_path(@blog) if logged_in?(:admin) %> 

  <p>
  <%= @blog.body %>

  <%= render partial: 'comments/comments', locals: {commentable: @blog} %>
  <%= render partial: 'comments/form', locals: {commentable: @blog} %>

</div>