<div class="container portfolio-container">
  <div class="row">
    <div class="col-md-7">
      <%= image_tag @portfolio_item.main_image_url.to_s, width: '100%' %>
    </div>
    <div class="col-md-5">
      <h1><%= @portfolio_item.title %></h1>
      <hr>
      <em><%= @portfolio_item.subtitle %></em>
      <p><%= @portfolio_item.body %></p>
      <hr>
      <h3>Technologies Used:</h3>
      <% @portfolio_item.technologies.each do |t| %>
      <p><%= t.name %></p>
      <% end %>
      <% if authorized_to %>
        <nav class="breadcrumb blogcrumb">
          <%= link_to fa_icon('pencil-square-o'), edit_portfolio_path(@portfolio_item) %>
          <%= link_to fa_icon('trash'), @portfolio_item, data: { turbo_method: :delete,
                        turbo_confirm: 'Are you sure?' } %>
        </nav>
      <% end %>
    </div>
  </div>
</div>