<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
 
  </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
	        <%= video_tag(
            'video_bg_small.mp4',
            id: 'background',
            autoplay: true,
            loop: true,
            muted: true,
            poster: 'home_bg.png'
          ) %>

          <%= render "shared/application_nav" %>
          <%= yield %>
          <%= render "shared/application_footer" %>
          <%= source_helper("application") %>
          <%= render 'shared/flash_container' %>
        </div>
      </div>
    </div>
  </body>
</html>
